COMPANY_NAME="Burger Inc."
SITE_NAME="Burger Store"

# AuthJS
AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Created by Vercel CLI
KV_REST_API_READ_ONLY_TOKEN=
KV_REST_API_TOKEN=
KV_REST_API_URL=
KV_URL=

